/* common tags styles */




.bg-gray{
	background:#3b3b3b;
	height:100%;
	width:100%;
}

a{
	color:#003a70;
}
a:hover, a:focus{
	color:#0c2b47;
	text-decoration:none;
}

h1,
h2,
h3,
h4,
h5,
h6
{
	font-family: 'montserratregular';
}
h3{
	font-size: 25px;
}

.btn{
	border:0;
	font-family: 'montserratregular';
}
.btn-success{
	background:#3daf2c;
}
.btn-success:hover, .btn-success:focus{
	background:#2f7225;
}


/* login */


.login{
	margin-top:120px;
	text-align: center;
}
.login figure{
	margin-bottom:65px;
}
.login figure .img-responsive{
	float:none;
	margin:0 auto;
}
.login button{
	margin-top:65px;
}
.login a.forgot{
	display:block;
	text-align:center;
	margin-top:35px;
	margin-bottom: 35px;
	color:#ffffff;
	text-decoration:underline;
	font-weight:600;
}
.login a.forgot:hover{
	text-decoration:none;
}
.login input{
	background: none;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 2px solid #4e4e4e;
    font-size: 15px;
    padding: 20px 0 20px 25px;
    color: #FFF;
}	
.login .email {
  position: relative;
}
.login .email:before {
    position: absolute;
    font-family: 'icomoon';
    left: 0;
    content: "\e002";
    font-size: 17px;
    color: #A9A9A9;
    top: 8px;
}
.login .password {
  position: relative;
}
.login .password:before {
    position: absolute;
    font-family: 'icomoon';
    left: 0;
    content: "\e007";
    font-size: 17px;
    color: #A9A9A9;
    top: 8px;
}

.login input:focus {
  box-shadow: none;
  border-bottom:2px solid #3daf2c;
}


.login input:focus {
  box-shadow: none;
  border-bottom:2px solid #3daf2c;
}

.login button {
	border-radius:2px;
	padding:10px;
}

.login .form-group{
	margin-bottom:25px;	
}

.login p.text-gray{
	font-family: 'montserratregular';
	color:#666666;
	font-size:16px;
	margin-bottom:30px;
}


@media (min-width: 992px) {

.login .col-xs-offset-4{
	margin-left: 0;
}

}

@media (max-width: 767px) {

.login{
	margin-top:30px;
}
.login figure {
    margin-bottom: 30px;
}
.login button {
    margin-top: 30px;
}

}

	
